#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

  .container {
    display: flex;    
    justify-content: center;
  }

  .word-clue {
    display: flex;
    align-items: center;
    justify-content: center;

    .letter-clue {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #000;
      font-size: 32px;
      font-weight: 700;
      height: 60px;
      width: 60px;
      margin: 5px;
      text-transform: uppercase;
      color: #fff;
      
      &.cursor {
        border: 4px solid #000;
        margin: 2px;
      }
    }
  }

  .no-match {
    background-color: gray;
  }
  
  .partial-match {
    background-color: orange;
  }
  
  .match {
    background-color: green;
  }

  .clue-type-chooser {
    margin-left: 10px;
  }

  .clue-type {
    height: 80px;
    width: 80px;
    margin: 5px;
    border: 1px solid #000;
    
    &.selected {
      border: 4px solid #000;
      margin: 2px;
    }
  }
}
